---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import BackToTop from "../components/BackToTop.astro";
---

<Layout title="Fabbro">
    <main class="space-y-40 mb-40">
        <HeroSection/>
        <Features/>
        <Stats/>
        <BackToTop/>
    </main>
</Layout>